@tailwind base;
@tailwind components;
@tailwind utilities;

.checkbox {
    appearance: none;
    height: 75px;
    width: 75px;
    margin: 4px;
    border: 2px solid #8b98a5;
    border-radius: 0.5rem;
}
.checkbox:checked {
    border: 1px solid #8b98a5;
    background-color: #00b558;
}
.checkbox:checked::before {
    content: "";
    display: block;
    position: relative;
    left: 35%;
    top: 10%;
    width: 30%;
    height: 55%;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.checkbox:focus-visible {
    outline: 2px solid #1d9bf0;
    outline-offset: 2px;
}
